<div class="app-toolbar mt20">
    <div class="btn-group mr10">
        <button class="btn btn-major btn-active">在线</button>
        <button class="btn btn-major">离线</button>
    </div>
    <button class="btn btn-normal"><span class="btn-img btn-img-add-device"></span>添加设备</button>
    <button class="btn btn-normal"><span class="btn-img btn-img-import"></span>导入设备</button>
    <button class="btn btn-normal"><span class="btn-img btn-img-export"></span>导出数据</button>
    <button class="btn btn-normal"><span class="btn-img btn-img-delete"></span>批量删除</button>
    <div class="di pr ml10">
        <button class="btn btn-normal dropdown-toggle" data-toggle="dropdown">更多操作<span class="caret ml3i"></span></button>
        <ul class="dropdown-menu">
            <li class="device-more-li"><a class="device-more-item"><span class="btn-img btn-img-device-group"></span>设备分组</a></li>
            <li class="device-more-li-division"></li>
            <li class="device-more-li"><a class="device-more-item">解锁</a></li>
            <li class="device-more-li"><a class="device-more-item">锁定</a></li>
            <li class="device-more-li-division"></li>
            <li class="device-more-li"><a class="device-more-item">禁用摄像头</a></li>
            <li class="device-more-li"><a class="device-more-item">启用摄像头</a></li>
            <li class="device-more-li-division"></li>
            <li class="device-more-li"><a class="device-more-item">冻结应用容器</a></li>
            <li class="device-more-li"><a class="device-more-item">解冻应用容器</a></li>
            <li class="device-more-li-division"></li>
            <li class="device-more-li"><a class="device-more-item">定位</a></li>
            <li class="device-more-li"><a class="device-more-item">回收</a></li>
            <li class="device-more-li"><a class="device-more-item">擦除数据</a></li>
        </ul>
    </div>
</div>