<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="little-strip"></span><span class="dib mt7">使用kalendae插件进行时间多选</span>
        </div>
    </div>
    <div class="row">
        <div id="test-kalendae-multi-1" class="w320 h320"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="little-strip"></span><span class="dib mt7">手写时间多选</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select-day-control data-model="sdcModel1"></select-day-control>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select-day-control data-model="sdcModel2"></select-day-control>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-block" ng-click="getSelected()">获取选择的数据</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 checkbox">
            <input type="checkbox" ng-model="checkbox1">测试多选框的赋值
        </div>
    </div>

</div>