<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="little-strip"></span><span class="dib mt7">使用kalendae插件进行时间多选</span>
        </div>
    </div>
    <div class="row">
        <div id="test-kalendae-multi-1" class="w320 h320"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="little-strip"></span><span class="dib mt7">手写时间多选</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select-day-control data-model="sdcModel1"></select-day-control>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select-day-control data-model="sdcModel2"></select-day-control>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-block" ng-click="getSelected()">获取选择的数据</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 checkbox">
            <input type="checkbox" ng-model="checkbox1">测试多选框的赋值
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div id="container" style="height:500px"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt30 mb30">-->
        <!--<div class="col-sm-12">-->
            <!--<slider-select></slider-select>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row mt100 mb30">
        <div class="col-sm-12">
            <slider-select data-width="400" data-type="H"></slider-select>
        </div>
    </div>
    <div class="row mt100 mb30">
        <div class="col-sm-12">
            事件选择器
        </div>
    </div>
    <div class="row mt100 mb30">
        <div class="col-sm-12">
            <time-range data-start-hour-model="startHour"
                        data-start-minute-model="startMinute"
                        data-end-hour-model="endHour"
                        data-end-minute-model="endMinute"></time-range>
        </div>
    </div>
    <div class="row mt100 mb30">
        <div class="col-sm-12">
            <time-range data-start-hour-model="startHour1"
                        data-start-minute-model="startMinute1"
                        data-end-hour-model="endHour1"
                        data-end-minute-model="endMinute1"></time-range>
        </div>
    </div>

    <div class="row mt100 mb30">
        <div class="col-sm-12">
            <button class="btn btn-primary" ng-click="showTimeRange()">显示选择的时间</button>
        </div>
    </div>


    <form name="outerForm" novalidate>
        <input class="form-control" required name="outer" ng-model="outer" placeholder="外部输入框"><span validate-generator></span>
        <input class="form-control" type="text" name="inner" ng-model="inner" placeholder="内部输入框"><span validate-generator></span>
        <button class="btn btn-primary" ng-disabled="inner == '' || outerForm.inner.$invalid || outerForm.inner.$pristine">内部按钮</button>
        <button class="btn btn-primary" ng-disabled="outerForm.$invalid || outerForm.$pristine">外部按钮</button>
    </form>


    <form name="iosWifiForm00" novalidate="" class="" style="">
        <div class="col-xs-5">
            <input type="text"
                   ng-model="SSID_STR" name="SSID_STR" ng-maxlength="30" required="" style="">
            <span validate-generator></span>
        </div>
    </form>

    <input type="time" pattern="hh:ii:ss">
    <div ng-bind-html="htmlTest"></div>

    <!--<div class="row mt100 mb30">-->
        <!--<div class="col-sm-12">-->
            <!--测试远程选择框-->
        <!--</div>-->
    <!--</div><div class="row mt100 mb100">-->
    <!--<div class="col-sm-12">-->
        <!--<custom-select class="app-query-select" data-url="http://localhost:8000/api/heroes" data-handle="handleResult" cs-ng-model="heroName" search></custom-select>-->
        <!--<button ng-click="add()">add</button>-->
    <!--</div>-->
    <div class="row mt100 mb30">
        <div class="col-sm-12">
            测试查询选择框
        </div>
    </div><div class="row mt100 mb100">
    <div class="col-sm-12">
        <query-select class="app-query-select" data-model="mockQueryData" cs-ng-model="querySelectTest" data-placeholder="请选择内容"></query-select>
        <button ng-click="testQuerySelectMethod()">add</button>
    </div>

    <div class="row mt100 mb30">
        <div class="col-sm-12">
            测试查询选择框
        </div>
    </div><div class="row mt100 mb100">
    <div class="col-sm-12">
        <query-select class="app-query-select" data-model="mockQueryData" cs-ng-model="querySelectTest2" data-placeholder="请选择内容"></query-select>
        <button ng-click="testQuerySelectMethod()">add</button>
    </div>
</div>
</div>