/* 常用样式汇总 */
ul {
    list-style: none;
    padding-left: 0;
}

*[ng-click] {
    cursor: pointer;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/* form start */
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.ng-dirty.ng-invalid:focus,
select.ng-dirty.ng-invalid:focus,
textarea.ng-dirty.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

/* form end */

.input-xs {
    height: auto;
    padding: 2px 10px;
}

/* 样式简写 */
.lh30 {
    line-height: 30px;
}

.lh50 {
    line-height: 50px;
}

.m0a {
    margin: 0 auto;
}

/* color */
.c-f {
    color: #fff;
}

.c-f00 {
    color: #f00;
}

.c-red {
    color: #f00;
}

.c-555 {
    color: #555;
}

/* cursor */
.cp {
    cursor: pointer;
}

.cd {
    cursor: default;
}

/* display */
.dn {
    display: none;
}
.dni{
    display: none !important;
}
.di {
    display: inline;
}

.db {
    display: block;
}

.dif {
    display: inline-flex;
}

.dib {
    display: inline-block;
}

.oh {
    overflow: hidden;
}

.oa {
    overflow: auto;
}

/* position */
.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.pri {
    position: relative!important;
}

.pf {
    position: fixed;
}

/* float */
.fl {
    float: left;
}
.fli {
    float: left!important;
}

ul.ul-li-fl > li {
    float: left;
}

.fr {
    float: right;
}
.fri {
    float: right!important;
}

ul.ul-li-fr > li {
    float: right;
}

.cb {
    clear: both;
}

/* background-color */
.bgc-dff0d8 {
    background-color: #dff0d8;
}

/* border-radius */
.br0i {
    border-radius: 0 !important;
}

pre {
    padding: 0px;
    margin: 0;
    background-color: transparent;
    border: none;
    max-height: 340px;
}

.middle-text-30 {
    height: 30px;
    line-height: 30px;
}

.table-layout-fixed{
    table-layout: fixed; /* 表格固定布局，配合表格中的文本裁剪使用 */
}
.td-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

/* css计数器 */
ul.cr {
    counter-reset: u1;
}

li::before {
    color: #8c8c8c;
}

ul.cr > li::before {
    content: counter(u1) ' ';
    counter-increment: u1;
}

ul.cr2 {
    counter-reset: u2;
}

ul.cr2 > li::before {
    content: counter(u1) '.' counter(u2) ' ';
    counter-increment: u2;
}

ul.cr3 {
    counter-reset: u3;
}

ul.cr3 > li::before {
    content: counter(u1) '.' counter(u2) '.' counter(u3) ' ';
    counter-increment: u3;
}

ul.cr4 {
    counter-reset: u4;
}

ul.cr4 > li::before {
    content: counter(u1) '.' counter(u2) '.' counter(u3) '.' counter(u4) ' ';
    counter-increment: u4;
}

ul[class^="cr"].bh3 li::before,
ul[class^="cr"].bh3 li h3 {
    font-size: 20px;
}

ul[class^="cr"].bh4 li::before,
ul[class^="cr"].bh4 li h4 {
    font-size: 18px;
}

ul[class^="cr"].bh5 li::before,
ul[class^="cr"].bh5 li h5 {
    font-size: 16px;
}

ul[class^="cr"].bh6 li::before,
ul[class^="cr"].bh6 li h6 {
    font-size: 15px;
}

ul[class^="cr"] li::before {
    font-family: 黑体 Arial black;
}

ul[class^="cr"] li h1,
ul[class^="cr"] li h2,
ul[class^="cr"] li h3,
ul[class^="cr"] li h4,
ul[class^="cr"] li h5,
ul[class^="cr"] li h6 {
    display: inline-block;
    font-weight: bold;
    margin-top: 1.6em;
    margin-bottom: 1em;
}

/* css tools */

/*  对于数量单位有如下规则   */

/*  1.数字单位为px，如w20表示width: 20px;  */

/*  2.下划线代表百分比，如w_90表示width: 90%;  */

/*  3.中划线代表负值，如w-100表示width: -100px;  */

/*  4.综合：w-_100表示width: -100%;  */

/*  5.特例：因为比较常用的关系，w表示width: 100%;等等  */

.f9 {
    font-size: 9px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

/* bootstrap中已经有对应的样式了 */
.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

/* width */
.w {
    width: 100%;
}

.w5 {
    width: 5px;
}

.w10 {
    width: 10px;
}

.w11 {
    width: 11px;
}

.w18 {
    width: 18px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w90 {
    width: 90px;
}

.w195 {
    width: 195px;
}

.w260 {
    width: 260px;
}

.w260i {
    width: 260px!important;
}

.w320i {
    width: 320px!important;
}

.w480 {
    width: 480px;
}

.w1000 {
    width: 1000px;
}

.w_1 {
    width: 1%;
}

.w_5 {
    width: 5%;
}

.w_10 {
    width: 10%;
}

.w_11 {
    width: 11%;
}

.w_20 {
    width: 20%;
}

.w_40 {
    width: 40%;
}

.w_45 {
    width: 45%;
}

/* 46.5% */
.w_46-5 {
    width: 46.5%;
}

.w_48 {
    width: 48%;
}

.w_50 {
    width: 50%;
}

.w_80 {
    width: 80%;
}

.w_90 {
    width: 90%;
}

/* 配合栅格系统使用 .w__1_6代表 1/6 */
.w__1_6 {
    width: 16.6666666666666%;
}

.min-w1000 {
    min-width: 1000px;
}
.min-w890i {
    min-width: 890px!important;
}

/* height */
.h {
    height: 100%;
}

.h18 {
    height: 18px;
}

.h20 {
    height: 20px;
}

.h20i {
    height: 20px !important;
}

.h30 {
    height: 30px;
}

.h50 {
    height: 50px;
}

.h70 {
    height: 70px;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.h400 {
    height: 400px;
}
.max-h400{
    max-height: 400px;
}
.h600 {
    height: 600px;
}

.min-h1000 {
    min-height: 600px;
}

/* top */
.t50 {
    top: 50px;
}

.t60 {
    top: 60px;
}

.t61 {
    top: 61px;
}

.t70 {
    top: 70px;
}

.t100 {
    top: 100px;
}

.t_50 {
    top: 50%;
}

/* right */
.r {
}

/* bottom */
.b0 {
    bottom: 0;
}

/* left */
.l100 {
    left: 100px;
}

.m0 {
    margin: 0;
}

.m0i {
    margin: 0 !important;
}

/* margin-top */
.mt0 {
    margin-top: 0;
}

.mt0i {
    margin-top: 0 !important;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: -35px;
}

/* margin-right */
.mr2 {
    margin-right: 2px;
}

.mr15 {
    margin-right: 15px;
}

.mr30 {
    margin-right: 30px;
}

/* margin-bottom */
.mb0 {
    margin-bottom: 0;
}

.mb0i {
    margin-bottom: 0 !important;
}

.mb20 {
    margin-bottom: 20px;
}

/* margin-left */
.ml3 {
    margin-left: 3px;
}
.ml10{
    margin-left: 10px;
}

.ml100 {
    margin-left: 100px;
}

.ml260 {
    margin-left: 260px;
}

.ml298 {
    margin-left: 298px;
}

.ml356 {
    margin-left: 356px;
}

/* 配合栅格系统使用 ml__1_36代表1/36 */
.ml__1_18{
    margin-left: 5.5555555555%;
}
.ml__1_36{
    margin-left: 2.7777777777%;
}

.ml_11 {
    margin-left: 11%;
}

/* padding */
.p0 {
    padding: 0;
}
.p10{
    padding: 10px;
}
/* 简写两个值的情况 0为特殊情况，可以不用加下划线*/
.p05 {
    padding: 0 5px;
}
.p5_10{
    padding: 5px 10px;
}

/* padding-top */
.pt0i {
    padding-top: 0 !important;
}

.pt32 {
    padding-top: 32px;
}

.pt32i {
    padding-top: 32px !important;
}

.pt40 {
    padding-top: 40px;
}

.pt52i {
    padding-top: 52px !important;
}

.pt100 {
    padding-top: 100px;
}

/* pr已经被占用，这时加上第二个字母以示区分 */

/* padding-right */
.pri0 {
    padding-right: 0;
}
.pri0i {
    padding-right: 0!important;
}

.pri5 {
    padding-right: 5px;
}

.pri15 {
    padding-right: 15px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

/* padding-left */
.pl0 {
    padding-left: 0;
}
.pl0i {
    padding-left: 0!important;
}

.pl5 {
    padding-left: 5px;
}

.pl20 {
    padding-left: 20px;
}

.pl_3 {
    padding-left: 3%;
}

.pl_4 {
    padding-left: 4%;
}

.pl_10 {
    padding-left: 10%;
}

.pl356 {
    padding-left: 356px;
}
