/* Font-face
============================================================================= */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 移除响应式导航栏 */
.navbar.un-responsive .navbar-header,
.navbar.un-responsive .nav > li {
    float: left !important;
}

html, body {
    cursor: default;
    color: #333;
    font-family: 黑体, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*弹出提示框*/
.alert-global-tip {
    position: absolute;
    left: 50%;
    z-index: 300;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*文本样式*/
.text-default {
    color: #777;
}

.text-default:hover {
    color: #333;
}

/* bootstrap-table下的操作列中的按钮样式 */
.bootstrap-table .glyphicon {
    color: #333;
    cursor: pointer;
}

.bootstrap-table .glyphicon:hover {
    color: #4A49F2;
}

.bootstrap-table .glyphicon + .glyphicon {
    margin-left: 10px;
}

/* 自定义bootstrap-edit */
.bt-col-editable .glyphicon {
    font-size: 9px;
    margin-left: 10px;
    visibility: hidden;
}

td.show .bt-col-editable .glyphicon {
    visibility: visible;
}

.edit-panel {
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
}

.edit-panel-title {
    padding: 5px 0 5px 10px;
}

.edit-panel-close {
    padding: 1px 10px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
    color: #333;
    float: right;
    font-size: 20px;
    display: block;
    margin-top: -5px;
}

.edit-panel-close:hover {
    opacity: 1;
}

.edit-panel-body {
    padding: 10px;
}

.edit-panel-footer {
    text-align: right;
    padding: 5px 10px;
}

.edit-panel-footer .btn {
    padding: 4px 18px;
}

/* 使用字体图标 */
.common-icon {
    position: relative;
}

.common-icon::before {
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    position: absolute;
}

.common-icon-reply::before {
    content: '\f112';
}

.common-icon-share::before {
    content: '\f064';
}

.common-icon-thumb::before {
    content: '\f164';
}

.common-icon-report::before {
    content: '\f12a';
}

.common-icon-trash::before {
    content: '\f1f8';
}

.common-icon-down::before {
    content: '\f107';
}

.common-icon-caret-down::before {
    content: '\f0d7';
}

.common-bg {
    display: inline-block;
    background: center no-repeat;
}

.file-pic {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-size: 100%;
    vertical-align: -14%;
}

.pic_db {
    background-image: url("../images/pic_db.png");
}

.pic_excel {
    background-image: url("../images/pic_excel.png");
}

.pic_folder {
    background-image: url("../images/pic_folder.png");
}

.pic_pdf {
    background-image: url("../images/pic_pdf.png");
}

.pic_photo {
    background-image: url("../images/pic_photo.png");
}

.pic_ppt {
    background-image: url("../images/pic_ppt.png");
}

.pic_rar {
    background-image: url("../images/pic_rar.png");
}

.pic_txt {
    background-image: url("../images/pic_txt.png");
}

.pic_word {
    background-image: url("../images/pic_word.png");
}

.pic_wps {
    background-image: url("../images/pic_wps.png");
}

/* custom-select */
.custom-select-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.custom-select-list {
    position: absolute;
    width: 100%;
    border: 1px solid #66afe9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
    max-height: 120px;
}

.custom-select-item {
    line-height: 25px;
    background-color: #fff;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.custom-select-item.active {
    background-color: #f5e79e;
}

.custom-select-no-click.active {
    background-color: #fff !important;
}

.custom-select-main {
    background: url("../images/down.png") no-repeat 94%;
    background-size: 12px 12px;
    padding-right: 30px;
}

.un-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 根据项目需求新增的统一样式 start */

/* 主要的按钮 */
/* 页面上带有主题色的按钮 02B095 */
.btn {
    padding: 4px 12px;
}

.btn-main {
    color: #fff;
    background-color: #02B095;
    border-color: #02A58C;
}

.btn-main:focus,
.btn-main.focus {
    color: #fff;
    background-color: #029E86;
    border-color: #029780;
}

.btn-main:hover {
    color: #fff;
    background-color: #029E86;
    border-color: #02957E;
}

.btn-main:active,
.btn-main.active,
.open > .dropdown-toggle.btn-main {
    color: #fff;
    background-color: #029E86;
    border-color: #02957E;
}

.btn-main:active:hover,
.btn-main.active:hover,
.open > .dropdown-toggle.btn-main:hover,
.btn-main:active:focus,
.btn-main.active:focus,
.open > .dropdown-toggle.btn-main:focus,
.btn-main:active.focus,
.btn-main.active.focus,
.open > .dropdown-toggle.btn-main.focus {
    color: #fff;
    background-color: #02957E;
    border-color: #029780;
}

.btn-main:active,
.btn-main.active,
.open > .dropdown-toggle.btn-main {
    background-image: none;
}

.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled.focus,
.btn-main[disabled].focus,
fieldset[disabled] .btn-main.focus {
    background-color: #02B095;
    border-color: #02A58C;
}

/* 页面上普通的按钮 */
/* 背景色为白色，鼠标经过时改变字体颜色和边框颜色 */
.btn-normal {
    color: #5d5d5d;
    background-color: #fff;
    border-color: #c3c3c3;
}

.btn-normal:focus,
.btn-normal.focus {
    color: #02B095;
    background-color: #fff;
    border-color: #029780;
}

.btn-normal:hover {
    color: #02B095;
    background-color: #fff;
    border-color: #02957E;
}

.btn-normal.disabled:hover,
.btn-normal[disabled]:hover,
fieldset[disabled] .btn-normal:hover,
.btn-normal.disabled:focus,
.btn-normal[disabled]:focus,
fieldset[disabled] .btn-normal:focus,
.btn-normal.disabled.focus,
.btn-normal[disabled].focus,
fieldset[disabled] .btn-normal.focus {
    background-color: #fff;
    border-color: #02A58C;
}

/* 背景色为白色，鼠标经过时为填充色 */
.btn-major {
    color: #5d5d5d;
    background-color: #fff;
    border-color: #c3c3c3;
}

.btn-major:focus,
.btn-major.focus {
    color: #fff;
    background-color: #02B095;
    border-color: #029780;
}

.btn-major:hover {
    color: #fff;
    background-color: #02B095;
    border-color: #02957E;
}

.btn-major.disabled:hover,
.btn-major[disabled]:hover,
fieldset[disabled] .btn-major:hover,
.btn-major.disabled:focus,
.btn-major[disabled]:focus,
fieldset[disabled] .btn-major:focus,
.btn-major.disabled.focus,
.btn-major[disabled].focus,
fieldset[disabled] .btn-major.focus {
    color: #fff;
    background-color: #02B095;
    border-color: #02A58C;
}

.btn.btn-active,
.btn.btn-active:hover {
    color: #fff;
    background-color: #02B095;
    border-color: #02957E;
}

.theme-link {
    color: #02B095;
    cursor: pointer;
    transition: color .15s linear;
    text-decoration: none;
}

.theme-link:link {
    color: #02B095;
    text-decoration: none;
}

.theme-link:visited {
    color: #02B095;
    text-decoration: none;
}

.theme-link:hover {
    color: #02957E;
    text-decoration: none;
}

.theme-link:active {
    color: #02B095;
    text-decoration: none;
}

.app-toolbar .btn-normal + .btn-normal {
    margin-left: 10px;
}

.btn-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    background: center no-repeat;
}

.btn-img-add-device {
    background-image: url("../images/btn-add-device.png");
    width: 16px;
    height: 13px;
}

.btn-img-import {
    background-image: url("../images/btn-import.png");
    width: 17px;
    height: 11px;
}

.btn-img-export {
    background-image: url("../images/btn-export.png");
    width: 17px;
    height: 11px;
}

.btn-img-delete {
    background-image: url("../images/btn-delete.png");
    width: 15px;
    height: 16px;
}

.btn-img-device-group {
    background-image: url("../images/btn-device-group.png");
    width: 16px;
    height: 16px;
}

.btn-img-add-folder {
    background-image: url("../images/btn-add-folder.png");
    width: 17px;
    height: 14px;
}

.btn-img-add-document {
    background-image: url("../images/btn-add-document.png");
    width: 16px;
    height: 15px;
}

.btn-img-move-document {
    background-image: url("../images/btn-move-document.png");
    width: 16px;
    height: 15px;
}

.btn-img-distribute-document {
    background-image: url("../images/btn-distribute-document.png");
    width: 16px;
    height: 15px;
}

.btn-img-remote {
    background-image: url("../images/btn-remote.png");
    width: 17px;
    height: 17px;
}

.dropdown-menu {
    top: auto;
}

.form-control {
    height: auto;
    padding: 4px 12px;
}

/* 查询组件的样式 */
.app-query-select.custom-select-wrap {
    width: 100px;
}

.app-query-select.custom-select-wrap input {
    padding: 4px 12px;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.app-query-box .app-query-search {
    display: inline-block;
    width: 150px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

/* 根据项目需求新增的统一样式 end */

/* loading start */

.index-loading {
    height: 30px;
    width: 540px;
    margin: auto;
    margin-top: 170px;
    font-size: 72px;
    color: #02B095;
}

.index-loading span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #02B095;
    animation: load 1.5s ease infinite;
}

.index-loading span:last-child {
    margin-right: 0;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

.index-loading span:nth-child(1) {
    animation-delay: 0.3s;
}

.index-loading span:nth-child(2) {
    animation-delay: 0.6s;
}

.index-loading span:nth-child(3) {
    animation-delay: 0.9s;
}

.index-loading span:nth-child(4) {
    animation-delay: 1.2s;
}

.index-loading span:nth-child(5) {
    animation-delay: 1.5s;
}

/* loading end */

/* common start */
.container-wrap {
    width: 100%;
    height: 100%;
}

/* common end */

/* login start */
.login-container-wrap {
    padding-top: 10%;
    background: url('../images/bg.png') no-repeat;
}

.login-content {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.login-form {
    width: 520px;
    margin: auto;
}

.login-form .form-group {
    margin-bottom: 30px;
}

.login-logo {
    background: url("../images/login_logo.png") no-repeat;
    width: 102px;
    height: 102px;
    margin: auto;
}

.login-title {
    text-align: center;
    margin-bottom: 30px;
}

.register-now {
    margin-top: 7px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.validate-code {
    width: 40%;
    margin-left: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.validate-code, .validate-code span {
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

.login-footer {
    text-align: center;
}

/* login end */

/* app-nav start */
.app-nav-container-wrap {
    height: 70px;
    background-color: #02B095;
}

.app-nav-container {
    height: 100%;
    width: 1200px;
    margin: auto;
}

.app-nav-part {
    height: 100%;
    float: left;
}

.app-nav-logo {
    width: 190px;
    background: url("../images/logo.png") no-repeat center;
}

.app-nav-content {
    width: 860px;
    margin-bottom: 0; /* 覆盖默认的样式 */
}

.app-nav-item {
    float: left;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    cursor: pointer;
}

.app-nav-item:hover {
    color: #02B095;
    background-color: #fff;
}

.app-nav-item > .is-parent::before {
    right: -13px;
    content: '\f0d7';
}

.app-nav-user {
    width: 150px;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}

.app-nav-user:hover {
    color: #b0e0d9;
}

.app-nav-child-list {
    min-width: 100%;
    position: absolute;
    display: none;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 10;
}

.hover .app-nav-child-list {
    display: block;
}

.app-nav-child-item {
    color: #848484;
    height: 28px;
    line-height: 28px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    background-color: #fff;
}

.app-nav-item .app-nav-child-item:hover,
.app-nav-item .app-nav-child-item.active {
    color: #02B095;
    background-color: #eee;
}

.active .app-nav-space {
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: #fff;
    top: 60px;
}

.app-nav-user-menu {
    display: none;
}

.hover .app-nav-user-menu {
    display: block;
}

/* app-nav end */

/* app-content start */
.app-content {
    width: 1200px;
    min-height: 530px;
    margin: auto;
}

.app-current-place {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

/* app-content end */

/* dashboard start */
.dash-box {
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dash-box-content {
    height: 140px;
    line-height: 140px;
    font-size: 72px;
    font-weight: bold;
}

.dash-box-img {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    float: right;
    margin-top: 46px;
    margin-right: 30px;
}

.dash-box-img-device {
    background: url("../images/dashboard_phone.png") no-repeat #57b2e1 center;
}

.dash-box-img-user {
    background: url("../images/dashboard_users.png") no-repeat #02B095 center;
}

.little-strip {
    display: inline-block;
    height: 20px;
    width: 5px;
    margin-right: 7px;
    margin-top: 7px;
    float: left;
    background-color: #02B095;
}

.dash-config {
    position: absolute;
    right: 10px;
    top: 100px;
}

.dash-config-img {
    display: block;
    background: url("../images/dashboard_config.png") no-repeat center #fff;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 100%;
    cursor: pointer;
    transition: color .15s linear;
}

.dash-config-img:hover {
    background-color: #EEF0E9;
}

.dash-config-list {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    padding-left: 30px;
    margin-top: 10px;
}

/* dashboard end */

/*device start*/
.dropdown-menu > li.device-more-li > a {
    padding: 5px 20px;
}

.dropdown-menu > li.device-more-li > a:hover, .dropdown-menu > li.device-more-li > a:focus {
    background-color: #0ac4b9;
    color: #fff;
}

.device-more-li-division {
    border-bottom: 1px solid #ddd;
}

/*device end*/

/* test start */
/* 时间多选控件 */
.sdc-ul {
    width: 180px;
    user-select: none;
}
.sdc-li {
    float: left;
    padding: 3px;
    margin: 1px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
    transition: background-color .15s linear;
    cursor: pointer;
}

.sdc-li:hover{
    border-color: #777;
}
.sdc-li.active{
    background-color: #7EA0E2;
    color: #fff;
}
/* 时间多选控件 end*/

/* 滑动选择 */
.slider-select{
    position: relative;
    height: 15px;
    background-color: #DCDCDC;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}
.slider-select-subject{
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 10px;
    background-color: #0ac4b9;
    cursor: pointer;
}
.slider-select-change{
    color: #02a58c;
}
.slider-select-change:hover{
    color: #1597a5;
}
.slider-select-mimus{
    margin-right: 5px;
    cursor: pointer;
}
.slider-select-plus{
    margin-left: 5px;
    cursor: pointer;
}
.slider-select-mask{
    position: absolute;
    top: -8px;
    left: 20px;
    height: 31px;
    z-index: 2;
    cursor: pointer;
}
.slider-select-value{
    position: absolute;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    background: #eee;
}
.slider-select-value-min{
    left: 10px;
}
.slider-select-value-min, .slider-select-value-max{
    top: 18px;
}
.slider-select-value-current{
    top: -25px;
    left: 21px;
}
.time-range-select{
    width: 66px;
    display: inline-block;
}
/* 滑动选择 end */
/* test end */

